<div class="error-page-container">
  <mat-card class="error-card">
    <mat-card-header>
      <mat-card-title class="title">404</mat-card-title>
      <mat-card-subtitle>Az oldal nem található</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>A keresett oldal nem található vagy elköltözött.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent" routerLink="/">Vissza a főoldalra</button>
    </mat-card-actions>
  </mat-card>
</div>
