<div class="main-div">
  <div class="image-container center-content">
    <img
      src="assets/main_profile.jpg"
      alt="Circular Image"
      class="circle-image"
    />
  </div>
  <mat-card class="card1 center-content card">
    <mat-card-title class="card-title"
      >Felnőtt- és gyermekgyógytorna</mat-card-title
    >
    <mat-card-content>
      <strong>Nyitvatartás:</strong> Hétfő - Péntek, 12:00 - 20:00
      <br><br>
      <div class="button-group">
        <div class="button-container">
          <button mat-stroked-button class="link-button" routerLink="/booking">
            <strong>Időpontfoglalás</strong></button
          ><br />
        </div>
        <div class="button-container">
          <button mat-stroked-button class="link-button" routerLink="/location">
            <strong>Helyszín</strong></button
          ><br />
        </div>
        <div class="button-container">
          <button mat-stroked-button class="link-button" routerLink="/prices">
            <strong>Árak</strong></button
          ><br />
        </div>
        <div class="last-row">
          <button mat-stroked-button class="link-button" routerLink="/adult-treatment">
            <strong>Felnőttgyógytorna</strong>
          </button>
          <button mat-stroked-button class="link-button" routerLink="/child-treatment">
            <strong>Gyermekgyógytorna</strong>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="center-content card2 card">
    <mat-card-title class="card-title">Bemutatkozás</mat-card-title>
    <mat-card-content class="text-with-image">
      <p>
        Gyógytornászként 2020-ban végeztem a Debreceni Egyetemen. Tanulmányaim
        befejeztével Budapesten egy magánrendelőben kezdtem el dolgozni, ahol
        leginkább manuális technikákat sajátítottam el, a munka mellett pedig a
        mai napig külön képzéseken fejlesztem tovább magam. A szakmámig vezető
        út édesanyámmal kezdődött, aki gerincsérvtől szenvedett, lábra sem
        tudott állni, olyan fájdalmai voltak. Nemcsak a műtéttől mentették meg
        őt a gyógytornászok, hanem a mai napig nekik köszönheti, hogy teljesen
        fájdalommentesen él. Mikor láttam, hogy a gyógytorna és nem műtét
        hatására épül fel, akkor döntöttem el, hogy én is ezt szeretném, így
        szeretnék gyógyítani.
      </p>
      <section class="slider_container">
        <section class="slider">
          <div class="slide one">
            <img src="assets/slide1.jpg" />
          </div>
          <div class="slide two">
            <img src="assets/slide2.jpg" />
          </div>
          <div class="slide three">
            <img src="assets/slide3.jpg" />
          </div>
          <div class="slide four">
            <img src="assets/slide4.jpg" />
          </div>
          <div class="slide one">
            <img src="assets/slide1.jpg" />
          </div>
        </section>
      </section>
    </mat-card-content>
  </mat-card>
</div>
