<mat-toolbar class="top-toolbar">
  <strong class="contact">+36 30 600 9769</strong>
  <div class="divider-vertical"></div>
  <strong class="contact">eviterapia&#64;gmail.com</strong>
  <div class="divider-vertical"></div>
  <strong class="contact">1149, Budapest, Pillangó utca 12., 1. em., 1.06</strong>
</mat-toolbar>
<div class="divider-bg">
  <div class="divider-horizontal"></div>
</div>
<div mat-divider></div>
<mat-toolbar class="main">
  <span class="spacer left-spacer"></span>
  <button mat-button routerLink="/" class="title-button">
    <h1 class="name"><strong>Troszt Éva</strong></h1>
    <br />manuális kezelések
  </button>
  <span class="spacer right-spacer"></span>
  <button class="menu-button" mat-mini-fab [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu class="myMenu" #menu="matMenu">
  <button mat-menu-item class="menu-item-button" routerLink="/booking">Időpont</button>
  <button mat-menu-item class="menu-item-button" routerLink="/location">Helyszín</button>
  <button mat-menu-item class="menu-item-button" routerLink="/adult-treatment">Felnőttgyógytorna</button>
  <button mat-menu-item class="menu-item-button" routerLink="/child-treatment">Gyermekgyógytorna</button>
  <button mat-menu-item class="menu-item-button" routerLink="/prices">Árak</button>
</mat-menu>
