<div class="bottom-toolbar">
  <div class="container">
    <div class="contact">
      <mat-icon
        aria-hidden="phone"
        aria-label="home icon"
        fontIcon="phone"
      ></mat-icon>
      <strong>+36 30 600 9769</strong>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="contact">
    <mat-icon
      aria-hidden="mail"
      aria-label="mail icon"
      fontIcon="mail"
    ></mat-icon>
    <strong class="contact">eviterapia&#64;gmail.com</strong>
    </div>
  </div>
  <br />
  <div class="container bottom-info">
    <div class="contact">
    <mat-icon
      aria-hidden="home"
      aria-label="home icon"
      fontIcon="home"
    ></mat-icon>
    <strong class="contact">1149, Budapest, Pillangó utca 12., 1. em., 1.06</strong>
    </div>
  </div>
</div>
