<div class="main-div">
  <mat-card class="center-content card">
    <mat-card-title class="card-title">Helyszín</mat-card-title>
    <mat-card-content class="content">
      <p class="small-location">
        <strong>Cím: 1149. Pillangó utca 12., 1. emelet, 1.06 (Pillangó Egészségcentrum)</strong>
      </p>
      <!-- Google Maps Box -->
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.307803145353!2d19.11518830191646!3d47.50339651921433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dca18336a4a3%3A0xe0f7983dbfbc753a!2sBudapest%2C%20Pillang%C3%B3%20u.%2012%2C%201149!5e0!3m2!1sen!2shu!4v1737750172020!5m2!1sen!2shu"
          width="100%"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          class="border"
        >
        </iframe>
      </div>
      <!--video here with title: Az épületen belüli tájokozódás segítésére -->
      <br>
      <p>
        <strong>Parkolás a fogarasi Tesconál lehetséges ( 2 órán keresztül ingyenesen)</strong>
      </p>
      <br />
      <div class="image-container video-container">
        <p class="video-title">Az épületen belüli tájokozódás segítésére</p>
        <video autoplay loop muted class="video">
          <source src="assets/location_helper.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </mat-card-content>
  </mat-card>
</div>
