<div class="main-div">
  <mat-card class="center-content card">
    <mat-card-title class="card-title">Gyermekgyógytorna</mat-card-title>
    <mat-card-content class="text-with-image">
      <p class="application-age">
        <strong>Jelentkezés 6 hónapos kortól.</strong>
      </p>
      <br>
      <p>
        <strong>Kezelés célja:</strong> Manuális technikákat
        alkalmazva a gyermek testtartásában meglévő deformitások korrigálása.
        Eltérések esetén az izmok rendellenes helyzetbe rögzülnek és gátolják a
        különböző mozgásokat, mozgásfejlődést, mely problémák kezeletlenül
        további működési zavarokat okoznak. Maguk a passzív technikák önmagukban
        nem váltják ki a mozgás fontos szerepét, azonban a helyes kivitelezéshez
        és a mozgásfejlődésben való haladáshoz szükséges az izmok állapotának
        megfelelő épsége, illetve azok serkentése az aktív mozgásra. Ugyanis, ha
        egy test részben nem működik jól, akkor a teljes egésze sem fog. Ennek
        megoldására sajátítottam el különböző szemléletű manuális technikákat,
        melyek nagyrészét egy DSGM és egy manuálterapeuta felügyelete mellett
        éveken keresztül gyakoroltam. Fontos, hogy melyik izmot, mennyi ideig és
        milyen mértékig kezelek, de a legfontosabb, hogy mibe és miért nyúlok
        bele. A terápia során figyelem a testtartás eltéréseinek sajátosságát, a
        gyermek izomzatának tónusát, illetve elemzem a nem megfelelően végzett
        mozdulatokat, mozgásmintákat. Kezelések alatt különösen figyelek rá,
        hogy a gyerek jól érezze magát. Fontosnak tartom, hogy gyermek és kezelő
        között kialakuljon egy kisebb szeretetteljes kapcsolat. Számomra ez
        elengedhetetlen az együttműködéshez, illetve a gyógyuláshoz nem csak a
        testi, de a lelki feltöltődés is fontos szempont.
      </p>
      <section class="image-container">
        <img class="image" src="assets/child1.jpg" />
      </section>
    </mat-card-content>
  </mat-card>
</div>
