<div class="main-div">
  <mat-card class="center-content card">
    <mat-card-title class="card-title">Felnőttgyógytorna</mat-card-title>
    <mat-card-content class="">
      <p>
        Sokan kérdezik tőlem, hogy miért van ennyi panaszos ember manapság?
        Miért fáj állandóan a nyakam, derekam...stb? Maga a test arra van
        kitalálva, hogy használjuk, ráadásul változatosan. Minden izomnak
        szüksége van arra, hogy igénybe legyen véve és mindegyiknek
        kulcsfontosságú szerepe van abban, hogy a test a megfelelő egyensúlyba
        kerüljön. Ha viszont bizonyos izomcsoportok szerepe jelentősebbé válik,
        ez az egyensúly megborul. Mitől lehet ez? Egyoldalú testhelyzetekbe,
        terhelésekbe kényszerítjük magunkat napi órákra. Ülés, állás, egyfajta
        izomcsoportot erősítő sporttevékenység végzése, folyamatos hajolgatás,
        több kilós dobozok emelése. Mindegyikkel az a baj, hogy egyfajta
        mozdulatra bírjuk rá a testet, szinte folyamatosan és ezt az izmok egy
        idő után nem bírják elviselni és túlterhelődnek, feszessé, rugalmatlanná
        válnak. A hibajelentés pedig számunkra fájdalom formájában érkezik,
        hiszen a test ezzel jelzi, hogy baj van.
      </p>
      <br/>
      <p>
        Mi a megoldás? Sokszor érkeznek hozzám páciensek úgy, hogy adott
        problémára erősítéseket, végtelen mennyiségű tornagyakrolatot kaptak.
        Önmagában a mozgás okozhat tünetcsökkenést, hiszen kimozdítjuk a merev
        állapotból a testet, de megoldást nem fog nyújtani, hiszen a feszes és
        rugalmatlan izom sérülékeny, így se nyújtani, se erősíteni nem
        célravezető első lépésként, mert mégtovább sérülhetnek a szövetek.
        Rehabilitáció során fontos szerepe van mind a mozgásnak, nyújtásnak és
        lazításnak is, csak a megfelelő sorrendben végezve. Elsősorban lazítani
        kell az izmokat és csak ezután erősíteni és nyújtani.
      </p>
      <br/>
      <p>
        Ennek megfelelően a terápiák során egy alapos vizsgálat után az izmok
        helyreállításában segítem a pácienst, előkészítve a testet az aktív
        munkára, különböző manuális technikákat alkalmazva, megfelelő kiegészítő
        gyakorlatokat, házi feladatok végezve.
      </p>
    </mat-card-content>
  </mat-card>
</div>
