/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '../public/styles_theme-colors.scss' as my-theme;

@font-face {
  font-family: 'poirot'; /*a name to be used later*/
  src: url('../public/fonts/PoiretOne-Regular.ttf'); /*URL to font*/
}

html {
  color-scheme: light;
  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: poirot,
    density: -5
  ));
}

body {
  margin: 0; /* Removes the default margin */
  padding: 0; /* Optional: Ensures padding is also reset */
  box-sizing: border-box; /* Standardizes box-sizing for better layout control */
  background-color: #f5ffff;
}

button {
  transition: background-color 0.10s ease-in;
}


button:hover {
  background-color: #00a4c5;
  transition: background-color 0.10s ease-in;
}
